
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img [src]="backend_baseUrl + 'we_help/events/photo/'+event.id+'/'">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{ event.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p *ngIf="event.is_pick_up">Status: You can reach to help now!</p>
        <p *ngIf="!event.is_pick_up">Status: Waiting for requester to confirm.</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="event.is_pick_up">
      <ion-col>
        <agm-map
          [latitude]="event.latitude"
          [longitude]="event.longitude"
          [zoom]="16">
          <agm-marker
            [latitude]="event.latitude"
            [longitude]="event.longitude"></agm-marker>
        </agm-map>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button
          ion-button
          block
          (click)="onLeave()">Leave</button>
      </ion-col>
<!--       <ion-col>
        <button
          ion-button
          block
          color="danger"
          (click)="onDelete()">Complete</button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
