<ion-header>
    <ion-navbar>
        <ion-title>
        Coming Help
        </ion-title>
            <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let event of eventList; let i = index" (click)="onOpenEvent(event, i)">
    <ion-item>
      <ion-avatar item-start>
        <img src="event.create_user.profile.pic">
      </ion-avatar>
      <h2>Requester : {{event.create_user.username}}</h2>
      <p>{{formatCreateTime(event, i)}}</p>
    </ion-item>

    <ion-row>
      <ion-col text center>
        <img [src]="event.pic">
      </ion-col>
    </ion-row>
<!--     <ion-row>
      <ion-col>
        <agm-map
          [latitude]="event.latitude"
          [longitude]="event.longitude"
          [zoom]="16">
          <agm-marker
            [latitude]="event.latitude"
            [longitude]="event.longitude"></agm-marker>
        </agm-map>
        <ion-fab right top>
          <button ion-fab>
            <ion-icon name="pin"></ion-icon>
          </button>
        </ion-fab>       
      </ion-col>
    </ion-row> -->
    
    <ion-item>
      <ion-icon name="flag" item-start large></ion-icon>
        <h2 *ngIf="!event.is_pick_up">{{ event.title + ' : waiting host'}}</h2>
        <h2 *ngIf="event.is_pick_up">{{ event.title + ' : got selected!'}}</h2>
        <p>{{ event.description }}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="nutrition" item-left large></ion-icon>
      <h2>{{ event.reward }}</h2>
    </ion-item>

    <ion-item>
      <p item-left>Duration: {{ event.duration }}mins</p>
      <p item-left>Valid Untill: ({{formatCloseTime(event, i)}})</p>
<!--       <button ion-button icon-left clear item-end (click)="onDelete()">
        <ion-icon name="navigate"></ion-icon>
        Complete
      </button> -->
    </ion-item>
  </ion-card>
</ion-content>
