<ion-header>
  <ion-navbar>
    <ion-title>
    Requests Nearby
    </ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="addEventPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar 
  [(ngModel)]="searchKey" 
  [formControl]="searchControl"
  (ionInput)="onSearchInput()">
  </ion-searchbar>  
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-card *ngFor="let event of eventList">

    <img [src]="backend_baseUrl + 'we_help/events/photo/'+event.id+'/'">
    <ion-card-content text-center>
      <ion-card-title>
        {{ event.title }}
      </ion-card-title>
      <p>{{ event.description }}</p>
    </ion-card-content>

    <ion-item>
      <ion-icon name="logo-snapchat" item-left large></ion-icon>
      <h2>Duration: {{ event.duration }} mins</h2>
      <p>Reward: {{ event.reward }}</p>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left small (click)="onSignupClick(event)">
          <ion-icon name="hand"></ion-icon>
          <div>Help</div> 
        </button>       
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="share"></ion-icon>
          <div>Share</div>
        </button>        
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
