<ion-header>
  <ion-navbar>
    <ion-title>
    Requests Nearby
    </ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="addEventPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar 
  [(ngModel)]="searchKey" 
  [formControl]="searchControl"
  (ionInput)="onSearchInput()">
  </ion-searchbar>  
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <flash-card *ngFor="let event of eventList">
    <div class="fc-front">
      <img [src]="backend_baseUrl + 'we_help/events/photo/'+event.id+'/'">
      <h2 text-center>{{event.title}}</h2>
      <h3 text-center>{{event.description}}</h3>
      <hr />   
    </div>
    <div class="fc-back">
      <h2 text-center>{{event.title}}</h2>
      <h3 text-center>{{event.description}}</h3>
      <hr />
      <ion-item>
        <ion-icon name="logo-snapchat" item-left large></ion-icon>
        <h2>Duration: {{ event.duration }} mins</h2>
        <p>Reward: {{ event.reward }}</p>
      </ion-item>
      <hr />
      <div text-center>
        <button ion-button small (click)="onSignupClick(event)">
          <ion-icon name="hand"></ion-icon>
          <div>Help</div> 
        </button> 
      </div>         
    </div>    
  </flash-card>
</ion-content>
