<ion-header>
  <ion-navbar>
    <ion-title>
    Requests Nearby
    </ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="addEventPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar 
  [(ngModel)]="searchKey" 
  [formControl]="searchControl"
  (ionInput)="onSearchInput()">
  </ion-searchbar>  
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-card *ngFor="let event of eventList; let i = index" (click)="onOpenEvent(event, i)">
    <img [src]="event.imageUrl">
    <ion-card-content text-center>
      <ion-card-title>
        {{ event.title }}
      </ion-card-title>
      <p>{{ event.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
