<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sign Up
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
<ion-slides #signupSlider pager>
  <ion-slide>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
    <ion-list no-lines>
        <form enctype='application/json'[formGroup]="slideOneForm">
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.lastName.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item>
            <ion-label floating>Username</ion-label>
              <ion-input [class.invalid]="!slideOneForm.controls.username.valid && (slideOneForm.controls.username.dirty || submitAttempt)" formControlName="username" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="slideOneForm.controls.username.pending">
                <p>Checking username...</p>
            </ion-item>
            <ion-item *ngIf="!slideOneForm.controls.username.valid && !slideOneForm.controls.username.pending && (slideOneForm.controls.username.dirty || submitAttempt)">
                <p>Sorry, that username can not be used!</p>
            </ion-item>
            <ion-item *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
                <p>Please enter a valid first name.</p>
            </ion-item>
            <ion-item *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
                <p>Please enter a valid last name.</p>
            </ion-item>
            <ion-item>
                <ion-label floating>Email Address</ion-label>
                <ion-input formControlName="email" type="email" [class.invalid]="submitAttempt"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input formControlName="enterPassword" type="password" [class.invalid]="submitAttempt"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Confirm Password</ion-label>
                <ion-input formControlName="confirmPassword" type="password" [class.invalid]="submitAttempt"></ion-input>
            </ion-item>
        </form>
  </ion-list>
    <div padding>
      <button ion-button color="primary" (click)="next()" block>Next</button>
      </div>
  </ion-slide>
  <ion-slide>
     <form enctype='application/json' [formGroup]="slideTwoForm">
       <div class="col col-33">
            <img [src]="selfiePhoto" class="full-image" *ngIf="selfiePhoto" />
      </div>
       Selfie
       <p><button ion-button (click)="takePicture('selfie')">Take a Picture</button></p>
    <div class="col col-33">
          <img [src]="idPhoto" class="full-image" *ngIf="idPhoto" />
          </div>
       ID Photo
       <p><button ion-button (click)="takePicture('license')">Take a Picture</button></p>
        </form>
      <div padding>
    <button ion-button color="primary" (click)="prev()" block>Previous</button>
    </div>
      <div padding>
    <button ion-button color="primary" (click)="save()" block>Create Account</button>
    </div>
  </ion-slide>
</ion-slides>
</ion-content>