<ion-header>

  <ion-navbar  color="primary">
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col>
        <p>{{ event.description }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p *ngIf="event.status=='OP'">Status: Open</p>
        <p *ngIf="event.status=='CF'">Status: Confirm</p>
        <p *ngIf="event.status=='CL'">Status: Closed</p>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item *ngFor="let signup of event.signups;">
        <ion-label>
          <ion-item (click)="onProfileClick(signup.signup_user.id)">
             <ion-avatar item-start>
              <img src="{{backend_baseUrl}}accounts/api/photo/{{signup.signup_user.id}}">
            </ion-avatar>
            <h2>{{signup.signup_user.username}}</h2>    
          </ion-item>
        </ion-label>
        <ion-checkbox checked="{{signup.is_pick_up==true}}" [(ngModel)]="signup.is_pick_up"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-row>
      <!-- <ion-col> -->
        
      <!-- </ion-col> -->
      <ion-col>
        <button
          ion-button
          block
          (click)="onLeave()">Leave</button>
      </ion-col>
      <ion-col *ngIf="event.status=='OP'">
        <button
          ion-button
          block
          color="danger"
          (click)="onConfirm()">Confirm</button>
      </ion-col>
      <ion-col *ngIf="event.status=='CF'">
        <button
          ion-button
          block
          color="danger"
          (click)="onCloseEvent()">Close</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
